/*
 * Standard theme colours
 */

$color-white: white
$color-bg: #f6f6ef
$color-blue: #0074D9
$color-yellow: #f4e842
$color-text: #606c76
$color-border: darken($color-bg, 20%)

/*
 * Milligram overrides
 */

$color-initial: #fff !default
$color-primary: $color-blue !default
$color-secondary: #606c76 !default
$color-tertiary: #f4f5f6 !default
$color-quaternary: #d1d1d1 !default
$color-quinary: #e1e1e1 !default
$color-tag: thistle

@import 'milligram'

html
  background-color: $color-bg

header
  padding: 0rem 2rem
  border-bottom: 1px solid $color-border
  margin-bottom: 2rem

  h1.title
    font-weight: bold
    margin: auto

.button-tag
  background-color: $color-tag
  border-color: $color-tag
  color: black
  font-size: small
  padding: 0rem 1rem

  a
    color: black

  &:hover
    background-color: lighten($color-tag, 8%)
    color: black

.card
  background-color: $color-white
  padding: 2rem 3rem
  overflow-x: auto
  border-radius: 5px


  dt
    font-weight: 500

  dd,p,li,a
    font-weight: 400

  &.compact
    padding: 1rem 2rem
    margin: 1.5rem

    a
      font-weight: bolder

  &.contact
    margin-bottom: 1rem


// main directory listing on index
.directory
  ul
    list-style: none


.content
  margin-left: 2rem

  h1
    font-size: 4.0rem

.service

  ul
    list-style: disc inside

  .contact

    ul
      list-style: none

ul.tags
  list-style-type: none
  columns: 2

footer > .row
  border-top: 1px solid $color-border
  padding-top: 2rem
  margin-top: 4rem

.search
  .ais-search-box
    max-width: 100%

  .ais-search-box--input
    background-color: white

  ul#hits
    list-style: none

  em
    background-color: $color-primary
    color: white
    font-style: normal
