<tr>
	<td class="category">

		{{ if .Params.Tags }}
			{{ $ft := index .Params.Tags 0 }}
			<a class="button button-tag" href="/tags/{{ urlize $ft }}">
				{{ $ft }}
			{{ end }}
			</a>
	</td>
	<td>
		<a href="{{ .Permalink }}">
			<strong>{{ .Title }}</strong>
		</a>
	</td>
	<td>
		{{ if .Params.contact.phone }}
			{{ index .Params.contact.phone 0 }}
		{{ end }}
	</td>
	<td>
		{{ if .Params.contact.web_addresses }}
		<a class="button button-outline" target="_blank" href="{{ index .Params.contact.web_addresses 0 }}" title="{{ index .Params.contact.web_addresses 0 }}">
			Website
		</a>
		{{ end }}
	</td>
</tr>
