<tr>
	<td>
		<a href="{{ .Permalink }}">{{ .Title }}</a>
	</td>
	<td>
		{{ if .Params.contact.phone }}
		<a href="tel:{{ index .Params.contact.phone 0 }}">
			{{ index .Params.contact.phone 0 }}
		</a>
		{{ end }}
	</td>
	<td>
		{{ if .Params.contact.web_addresses }}
		<a href="//{{ index .Params.contact.web_addresses 0 }}">
			{{ index .Params.contact.web_addresses 0 }}
		</a>
		{{ end }}
	</td>
	<td>
		{{ if .Params.contact.addresses }}
			{{ index .Params.contact.addresses 0 }}
		{{ end }}
	</td>
</tr>
