<div class="card">

	<div class="clearfix">
		<h3 class="float-left">
			<a href="{{ .Permalink }}">{{ .Title }}</a>
		</h3>

		<ul class="tags float-right">
			{{ range .Params.tags }}
				<li class="tag">
					<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
				</li>
			{{ end }}
		</ul>
	</div>

	<dl>

		{{ if .Params.contact.phone }}
		<dt>Main phone number</dt>
		<dd>
			<a href="tel:{{ index .Params.contact.phone 0 }}">
				{{ index .Params.contact.phone 0 }}
			</a>
		</dd>
		{{ end }}

		{{ if .Params.contact.web_addresses }}
		<dt>Web address</dt>
		<dd>
			<a href="//{{ index .Params.contact.web_addresses 0 }}">
				{{ index .Params.contact.web_addresses 0 }}
			</a>
		</dd>
		{{ end }}

		{{ if .Params.contact.addresses }}
		<dt>Street address</dt>
		<dd>
			{{ index .Params.contact.addresses 0 }}
		</dd>
		{{ end }}

	</dl>

</div>
