{{ partial "header.html" . }}
	<main class="container">

		<article class="content service">

			<div class="clearfix">
				<h1 class="float-left">

					{{ with $.Site.GetPage "section" .Section }}
						<a href="{{ .Permalink }}">
							{{ .Title }}
						</a>
					{{ end }}
					/
					{{ .Title }}
				</h1>

				<div class="float-right">
					<ul class="tags">
						{{ range .Params.tags }}
						<li class="tag">
							<a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a>
						</li>
						{{ end }}
					</ul>
				</div>
			</div>

			{{- if $.Params.contact.addresses }}
			<div class="card contact">
				<h3>Address Information</h3>
				<ul>
					{{ range $name, $value := $.Params.contact.addresses }}
						<li class="address">
							{{ $value }}
						</li>
					{{ end }}
				</ul>
			</div>
			{{ end }}

			{{- if $.Params.contact.phone }}
			<div class="card contact">
				<h3>Telephone Numbers</h3>
				<ul>
					{{ range $name, $value := $.Params.contact.phone }}
						<li>
							<a href="tel:{{$value}}">{{ $value }}</a>
						</li>
					{{ end }}
				</ul>
			</div>
			{{ end }}

			{{- if $.Params.contact.web_addresses }}
			<div class="card contact">
				<h3>Web Addresses</h3>
				<ul>
					{{ range $name, $value := $.Params.contact.web_addresses }}
						<li>
							<a href="{{$value}}">{{ $value }}</a>
						</li>
					{{ end }}
				</ul>
			</div>
			{{ end }}

			{{- if .Content }}
				<div class="card">
					{{ .Content }}
				</div>
			{{ end }}
		</article>
	</main>
{{ partial "footer.html" . }}
